*{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box ;
}

body{
    background-image: url(./asset/img/img\ \(5\)-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.container{
    background-image: linear-gradient(to left top, #1c1c1c, #392840, #682a57, #9f1f5b, #d10e49); 
    width:23vw;
    height: 90vh;
    margin: auto;
    margin-top: 25px;
    border-radius: 30px;
    border: 3px solid black;  
    position: relative;
    z-index: 900;
}

h2, h3{
    text-align: center;
    margin: 2px;
    padding: 5px;
}

video{
    width: 19vw;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 0 0 25px 25px;
    box-shadow: 0 0 5px 5px #fff;
    

}

h4{
    text-align: center;
    font-size: 20px;
    margin: 5px;
    background:#682a57;

}
h4:hover{
    background:#d10e49;
    transition: background 0.5s;
}
